*{
  box-sizing: border-box;
  margin-top: 5px;
}
img {
  width: 10vw;
  height: 17vh;
  margin: -12px 490px;
}
a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 20px;
}
h1,
h2,
h3 {
  text-align: center;
  color: rgb(42, 165, 67);
  margin-top: 30px;
}
h1 {
  color: brown;
  font-size: 33px;
  margin-bottom: 100px;
}
.brends {
  font-size: 26px;
  font-weight: 700;
  margin-top: -70px;
  color: brown;
}
table,
thead,
tbody,
tfoot,
th,
td {
  border: 3px solid black;
  text-align: center;
}
datalist {
  display: flex;
  margin-left: 40px;
}
.price {
  width: 185px;
}
.container-car-info,
.container-contacts,
.container-personal-info{
  display:flex;
  width: 333px;
  }

  .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  #First-Name,
  #Last-Name,
  #birth{
    display:flexbox;
    align-items: flex-end;
    width: 170px;
  }
    .birth{
      margin-right: 13px;
    }
  .gender{
    margin-right: 40px;
  }
  .drive{
    display: flex;
  }
  #number{
    margin-left: 10px;
    width: 125px;
    height: 90px;
  }
  #email,
  #textarea,
  #tel{
    display: flexbox;
        width: 210px;
  }
  #email,
  #tel{
margin-left: 12px;
  }
  #mod,
  #sel{
    display: flexbox;
    width: 140px;
    margin-left: 80px;
  }
  .ok{
    flex-wrap: wrap;
  }
  #ok{
      margin-left: 50px;
    width: 60px;
      }
      .color-list{
        display: flex;
      }